{% extends "icommons_ui/base_ext.html" %}

{% block page_title %} Canvas Course Site Wizard {% endblock page_title %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}

<h3>{{term}}</h3>

<div class="well well-lg">
    School: {{term.school.school_id}}<br />
    Courses in term: {{ total_courses }}<br />
    Courses in Canvas: {{ canvas_courses }}<br />
    Courses not in Canvas: {{ not_in_canvas }}
</div>

<p>
    <button id="bulk-create-btn" type="button"  class="btn btn-primary {% if bulk_create_status  == 'IN_PROGRESS' %} disabled {% endif %}">Bulk Create Courses</button>
    {% if bulk_create_status  == 'IN_PROGRESS' %}
    Bulk creation for this term is <strong>{{bulk_create_status}}</strong>
    {% endif %}
</p>

<p>
    <a href="/tools/term_tool/term/{{term.term_id}}/edit">back to edit term</a>
</p>

{% endblock content %}

{% block javascript %}
{{ block.super }}

{% endblock %}

